.input {
    display: flex;
    position: relative;
    align-items: center;
}

.input_box {
    border-radius: 15px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transform: 0.2s;
    box-shadow: inset 0 0 5px gray;
    background-color: #DADFE9;
    display: flex;
    align-items: center;
    margin-left: 120px;
    height: 40px;
    width: 390px;
}

.input_box:focus {
    outline: none;
    box-shadow: 0 0 100px 10000px rgba(0, 0, 0, 0.1);
}

.input_button {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 10px;
    right: 0px;
    border: none;
    font-size: 35px;
    background-color: #BF6D6F;
    color: azure;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_button:hover {
    background-color: #cc8788;
    transform: scale(1.05);
} 

.input_button:active {
    transform: scale(0.85);
    box-shadow: 0 0 5px black;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 15px;
    border-radius: 20px;
    background-color: #c78586;
    box-shadow: 0 0 30px rgba(240, 180, 180, 0.724);
    /* margin-right: 30px; */
}

.tasks_completed {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 15px;
    border-radius: 20px;
    background-color: #368F8F;
    box-shadow: 0 0 30px rgb(104, 159, 133);
    text-wrap: nowrap;
    margin-right: 150px;
}

.tasks_single {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    margin-top: 15px;
    background-color: #DADFE9;
    transition: 0.2s;
    display: flex;
    align-items: center;
}

.tasks_single:hover {
    box-shadow: 0 0 5px whitesmoke;
    transform: scale(1.01);
}

.tasks_heading {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.tasks_single_text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 30px;
    color: black;
    background-color: #DADFE9;
}

.tasks_single_text_edit {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    color: black;
    background-color: #D9F3FD;
}

.tasks_single_text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 40px;
    cursor: pointer;
}

.icon_completed {
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer;
}

.dragging {
    opacity: 0.5;
}

.dragComplete {
    opacity: 0.5;
}

.Date {
    font-size: xx-large;
    font-weight: 500;
    color:white;
    margin-left: 120px;
    height: 100px;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    background-color: #006196;
    box-shadow: 0 0 20px rgb(139, 139, 139);
    margin-bottom: 30px;
    margin-top: 30px;

  }
  
.Date-logo {
    font-size: 50px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
  
.Time {
    font-size: 76px;
    font-weight: 500;
    color:white;
    margin-left: 115px;
    height: 100px;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    padding: 15px;
    border-radius: 20px;
    background-color: #006196;
    box-shadow: 0 0 20px rgb(139, 139, 139);
}

.notes_container {
    color: white;
    margin-right: 30px;
    margin-left: 120px;
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: #006196;
    box-shadow: 0 0 10px rgb(139, 139, 139);
}

.notes_container label {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 500;
}

 .input_notes {
    font-size: 20px;
    color:#006196;
    margin-right: 30px; 
    margin-left: 30px; 
    height: 340px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(249, 238, 187);
    margin-bottom: 15px;
  }


.Deleted_tasks_heading {
    position: absolute;
    width: 80px;
    height: 75px;
    margin-bottom: 15px;
    bottom: 20px;
    left: 65px;
    font-size: 100px;
    transition: 0.2s all;
    text-shadow: 0 0 1.5px whitesmoke;
  }
  
  .Deleted_tasks_heading:hover {
    text-shadow: 0 0 5px white;
    transform: scale(1.1);
  } 

@media (max-width: 1100px) {
    .tasks {
        width: 45%;
    }
}

@media (max-width: 700px) {
    
    .input {
        width: 95%;
    }

    .tasks {
        width: 95%;
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
        flex-direction: column;
    }
}