@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kulim Park", cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App::before {
  content: "";
  background: url('/./public/background-alt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 109, 109, 0.2);
  z-index: -1;
}

.App-header {
  color: #275DAF;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}

.progress-bar {
  width: 68%;
  box-shadow: inset 0 0 5px rgb(57, 57, 57);
  background-color: #c78586;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-left: 100px;
}

.progress {
  height: 80px;
  background-color: #368F8F;
  box-shadow: inset 0 0 5px black;
  width: 0;
  transition: width 0.3s;
}

@media (max-width: 800px) {
  .App-header {
    margin: 15px 20px;
    font-size: 35px;
  }
}